<% if current_user && card.collections?(current_user) %>
  <span class="collections collected">
    <%= link_to image_tag(card.image_url), "#", :data => {:card => card.id }%>
    
  </span>
<% else %>
  <span class="collections collected">
    <%= link_to image_tag(card.image_url), "#", :data => {:card => card.id }%>
  </span>
<% end %>