<h1> Edit Collection</h1>
<%= render partial: 'errors/errors', locals: {model: @collection } %>
<%= render partial: 'form', locals: { form_title: "Edit Cards", model: @collage, button_name: "Edit Collection"  } %>