<h1> Create New Collection </h1>
<%= render partial: 'errors/errors', locals: {model: @collection } %>
<%= render partial: 'form', locals: { form_title: "Cultivate Your Collection", model: @collection, button_name: "Create Collection"  } %>