/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$dark-gray: #282828;
$med-light-gray: #909090;
$light-gray: #D4D4D4;

 @import "bootstrap";


 .splash {
  background-image: image-url("background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}



.searchForm{
	display: grid;
	grid-template-columns: .1fr 2fr .3fr .1fr .7fr 1.5fr;
	grid-template-rows: 1fr 1fr;
	width: 85%;
	grid-row-gap: 37%;
	grid-column-gap: 2%;
	margin: 5rem auto 2.5rem;
	background-color: #282828;
	color: #d4d4d4;
	padding: 3% 3% 4% 3%;
}

.page-wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 0.1fr 1fr;
}


body {
  background: #B8E1FC;
  background: -webkit-radial-gradient(circle farthest-corner at center center, #B8E1FC 0%, #231421 100%);
  background: -moz-radial-gradient(circle farthest-corner at center center, #B8E1FC 0%, #231421 100%);
  background: radial-gradient(circle farthest-corner at center center, #B8E1FC 0%, #231421 100%);
  color:  #444444;
  font-family: Avenir, "Helvetica Neue", sans-serif;
  font-size: inherit, 18px;
  font-weight: 900;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-align: inherit, center;
}

form {
  display: inline-block;
  font-family: inherit, "Helvetica Neue", sans-serif;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  background: rgb(138, 118, 160);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.div {
  color: #fff;
  float: left;
  background-image: linear-gradient(135deg, #723362, #9d223c);
  background-color: #9d223c;
  font-family: inherit;
  padding: .05em 0;
  font-weight: 100;
  font-size: 15px;
  text-transform: inherit, uppercase;
  text-align: left;
  letter-spacing: .2em;
  margin: .1em 22px;
}

.navbar-brand {
  background-color: inherit;

  ul {
    display: flex;

    li {
      display: inline-block;
      list-style-type: none;
    }

    li:first-child {
      margin-right: auto;
    }

    .d-flex {
      color: #D4D4D4;
      display: block;
      line-height: 3em;
      font-size: 1.1em;
      font-weight: 600;
      padding: 1.6em 2em 1.1em;
      text-decoration: none;
      border-bottom: 5px solid transparent;
      transition: all 0.5s ease;
      letter-spacing: 1px;
    }

    .navtextlink:hover {
      border-bottom: 5px solid #D4D4D4;
    }
  }
}

.link-button {
  border: 1px solid #D4D4D4;
  text-decoration: none;
  padding: 12px 16px;
  background-color: #282828;
  color: #D4D4D4;
  transition: all 0.5s ease;
  cursor: pointer;
}

.link-button:hover {
  filter: invert(100%);
}


.search {
  width: 100%;
  font-family: inherit;
  margin-bottom: auto;
  margin-top: 20px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear
}

.search-icon:hover {
  color: #fff !important
}


h1 {
  background: #fff;
  color: #000!important;
  border: .5em solid !important;
  font-family: inherit !important;
  font-size: 1.4em !important;
  padding: .6em 0;
  text-align: center!important;
  font-weight: 300;
  text-transform: uppercase !important;
  letter-spacing: .2em;
  padding-left: .4em
}

.btn-outline-success {
  font-family: inherit;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #723362, #9d223c);
  background-color: #9d223c;
  font-size: inherit;
  color: #999;
  border-color: rgb(0, 0, 0);
  font-weight: 100;
  border: 1px solid transparent;
  width: 180px;
  height: 45px;
  margin-right: 10px;
}

a:link {
  color: #fff;
  justify-content: center;
  background-image: linear-gradient(135deg, #723362, #9d223c);
  background-color: #9d223c;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 800;
  padding: .05em 0;
  font-weight: 700;
  font-size: 19px;
  text-transform: inherit, uppercase;
  text-align: center;
  letter-spacing: .15em;
  margin: .2em 22px;
}